<!DOCTYPE html>
<html>
  <head>
    <title>Kickchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
          <%= link_to "Group Chat", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= yield :right_nav %>
                <li><%= link_to "Setting", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <li>Welcome: <%= current_user.username %></li>
                </ul>
              </li>
              <% else %>
                <li><%= link_to "Signup", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
          </ul>
        </div>
        </div>
    </nav>
    <div class="fluid-container">
      <div class="row">
        <div class="col-sm-2">
          <% if user_signed_in? %>
            <h5>Chatrooms</h5>
            <ul>
              <% current_user.chatroom.each do |c| %>
                <li><%= link_to c.name, '#' %></li>
              <% end %>
            </ul>
          <% end %>
            
          
        </div>
        <div class="col-sm-10">
         <%= yield %>
        </div> 
      </div>
    </div>
  </body>
</html>
